
<aside class="aside">
<p>aside tartalom</p>


<% hirek.forEach(hir => { %>
  <div class="hir-doboz">
    <h2> <a href="<%= hir.url%>"><%= hir.title %></a> - <%= hir.date %> </h2>
    <p><%= hir.description %></p>
  </div>

<% }) %>
</aside>