<p><%= cim %></p>

<!-- GET kérésre kiküldjük a form-ot -->
<!-- ha nincs action ugyanarra a címre küldi vissza -->
<form id="teszt" method="POST">
  <div class="container">
    <label for="mezo" class="item"> <span>Egy sztringet:</span></label>
    <input id="mezo" class="input" type="text" name="mezo1" class="item" />

    <label for="mezo1" class="item"> <span>Egy másikat:</span> </label>
    <input id="mezo1" class="input" type="text" name="mezo2" class="item" />

    <label for="elkuld" class="item"> <span></span> </label>
    <input id="elkuld" type="submit" class="item" name="submit" value="Ok">
  </div>
</form>
