<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8">
    <title><%= cim %></title>
</head>
<body>
    <% if (melyik != 2) { %>     
        <p>Első szöveg</p>
    <% } else { %>     
        <p>Második szöveg</p>
    <% } %>
</body>
</html>
