<div class="container">
  <form method="POST">
    <label for="fruit">Válassz gyümölcsöt:</label>
      <select id="fruit" name="fruit" required>
        <option value="">Válassz gyümölcsöt</option>
        <option value="Alma">Alma</option>
        <option value="Szilva">Szilva</option>
        <option value="Cseresznye">Cseresznye</option>
      </select>
    <input type="submit" value="Küldés">
  </form>
</div>
  