<!DOCTYPE html>
<html>
<head>
  <title>Select EJS példa</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    body {
      margin: 0px; padding: 0px;
    }
    .container {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      width: 35em;
      padding: 1em;
      background-color: lightgray;
      border-radius: 0.5em;
    }
    select, input[type=submit] {
      margin: 0.5em 0;
    }
  </style>
</head>
<body>

<% if (method === "GET") { %>
  <%- include('select_get'); %>
<% } else { %>
  <%- include('select_post', { selected }); %>
<% } %>

</body>
</html>
