#elso {
    height: 150px;
    background-color: white;
    border: 2px solid black;
    position: relative;
}

#ot {
    float: right;
    margin-right: 1em;
}

#negy {
    height: 2em;
    list-style-type: none;
    background-color: blue;
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#negy li {
    display: inline;
    float: left;
}

#negy a {
    color: white;
    margin-left: 0.5em;
}


#ketto {
    background-color: pink;
    
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

#ketto .box {
    background-color: greenyellow; 
    border: 1px solid black; 
    margin: 0.5em;
    flex-grow: 1;
    flex-basis: 0;
}

#harom {
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: white; 
    text-align: center; 
    line-height: 200px;
    border: 2px solid black;
}
